@import "tailwindcss";
:root {
    --light: #efd5ff;
    --dark: #515ada;
    --white: #f8f8ff;
    --timing-function: cubic-bezier(.22,1,.36,1);
    --anim-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    --anim-duration: 1s;

    --f-main: "Rubik", -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
    --f-code: 'Source Code Pro', monospace;
    --f-lxzt: 'Lexend Zetta', monospace;
}
* {
    box-sizing: border-box;
    font-family: var(--f-main)
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(135deg, var(--light), var(--dark));
}

#app {
    height: 100%;
}

.hero {
    position: fixed;
    inset: 0;
    background: linear-gradient(135deg, var(--light), var(--dark));
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    overflow: hidden;
}

@property --noise {
    syntax: "<length-percentage>";
    initial-value: 1px;
    inherits: false;
}

.hero::after {
    content: '';
    position: absolute;
    inset: 0;
    --noise: 3px;
    background-image:
        repeating-radial-gradient(
            circle at 0 0,
            rgba(0,0,0,.15),
            rgba(0,0,0,.15) var(--noise),
            transparent var(--noise),
            transparent 2px
        ),
        repeating-radial-gradient(
            circle at 0 0,
            rgba(0,0,0,.2),
            rgba(0,0,0,.2) 1px,
            transparent 1px,
            transparent 2px
        );
    opacity: 0.08;
    z-index: 3;
    animation: noise var(--anim-duration) var(--anim-timing-function) calc(var(--anim-duration) * 2.25) infinite;
    mix-blend-mode: soft-light;
}

@keyframes noise {
    from, to {
        --noise: 3px;
    }
    50% {
        --noise: 1px;
    }
}

.logo {
    width: 220px;
    filter: drop-shadow(0 20px 40px rgba(0,0,0,.25));
    transition:
        transform 1.2s var(--timing-function),
        top 1.2s var(--timing-function),
        scale 1.2s var(--timing-function),
        filter 1.2s var(--timing-function),
        -webkit-filter 1.2s var(--timing-function);
    z-index: 4;
}

.demo {
    position: fixed;
    inset: 0;
    padding-top: 140px;
    display: flex;
    gap: 16px;
    padding: 160px 0px 0px;
    opacity: 0;
    transition: opacity 0.8s var(--timing-function);
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    height: calc(100% - 86px);
    width: calc(100% - 80px);
    border-radius: 22px;
    overflow: hidden;
    translate: 40px 0%;
}

@property --bg-transparency {
    syntax: "<number>";
    initial-value: .15;
    inherits: false;
}

.demo textarea, .demo div, .demo section, #run, #run::before, #run::after {
    flex: 1;
    resize: none;
    border-radius: 22px;
    border: none;
    padding: 16px;
    font-size: 16px;
    background: rgba(255,255,255,calc(1 - var(--bg-transparency)));
    backdrop-filter: blur(20px);
}

.demo section {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 32px;
}

@keyframes logo {
    from {
        transform: translateY(62px) scaleX(1);
    }
    10% {
        transform: translateY(62px) scaleX(0.99);
    }
    20% {
        transform: translateY(62px) scaleX(1.01);
    }
    30%, to {
        transform: translateY(62px) scaleX(1);
    }
}

.demo div {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 12px;
    overflow-y: auto;
}


.demo span, .demo textarea {
    font-family: var(--f-code);
}

.demo span {
    background: linear-gradient(140deg, #efd5ff50, transparent);
    border-radius: 4px;
}
.demo div[w='5'] span {
    width: 48px;
}
.demo div[w='4'] span {
    width: 36px;
}
.demo div[w='3'] span {
    width: 28px;
}
.demo div[w='2'] span {
    width: 18px;
}
.demo div[w='1'] span {
    width: 8px;
}

.demo #data::before, 
.demo .options::before,
.demo .text::before,
.demo .bin::before,
.demo #input::before,
.demo #output::before,
.demo #inp::before,
.demo #out::before,
.demo .bin::after,
.demo #inp::after,
.demo #out::after {
    position: fixed;
    translate: 0% -100%;
    font-size: 12px;
    opacity: 0.33;
    font-family: var(--f-lxzt);
    width: calc(100% - 44px);
    text-align: center;
}
.demo #data::before {
    content: '16-bit Data/Header character';
    white-space: nowrap;
}
.demo .options::before {
    content: 'Options';
}
.demo .text::before {
    content: 'UTF-16';
}
.demo .bin::before {
    content: 'Binary';
}
.demo .text::before,
.demo .bin::before {
    text-align: left;
    padding-left: 16px;
}
.demo #input::before, 
.demo #inp::before {
    content: 'Input';
}
.demo #output::before, 
.demo #out::before {
    content: 'Output';
}

.demo section, .demo div {
    transition: opacity 300ms var(--timing-function),
        padding 300ms var(--timing-function);
}

.demo .options, .demo #data {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4px;
}
.demo .options div, .demo #data div {
    padding: 0px;
    justify-content: space-between;
    border-radius: 0px;
}
.demo hr {
    opacity: 0.33;
}
.demo .options label, .demo .options select {
    font-size: 14px;
    font-weight: 500;
}

.demo[v="Chars"] .bin::before {
    content: "Characters";
}
.demo[v="Codes"] .bin::before {
    content: "Character Codes";
}

.demo:not([m="d"]) .options .decompressor,
.demo:not([m="c"]) .options .compressor {
    display: none;
}

@media screen and (max-width: 970px) {
    .demo .options {
        display: none;
    }
}
@media screen and (max-width: 460px) {
    .demo #data::before {
        content: '16-bit Data character';
    }
}
@media screen and (max-width: 370px) {
    .demo #data::before {
        content: 'Data character';
    }
}
@media screen and (max-width: 310px) {
    .demo #data::before {
        content: '16-bit Data';
    }
}
@media screen and (max-width: 270px) {
    .demo #data::before {
        content: 'Data';
    }
}
@media screen and (min-width: 800px) and (max-width: 970px) {
    .demo #data::before {
        content: '16-bit Data/Header character (First 16 bits of compressed string)';
    }
}
@media screen and (min-width: 1500px) {
    .demo #data::before {
        content: '16-bit Data/Header character (First 16 bits of compressed string)';
    }
}

.demo .bin::after {
    content: "Ratio: " var(--ratio) ":1; Saved: " var(--saved) ".";
    bottom: 0px;
    translate: 0% 1px;
    padding-right: 16px;
    white-space: nowrap;
}

.demo .bin::after,
.demo #inp::after,
.demo #out::after {
    text-align: right;
}

.demo #inp::after,
.demo #out::after {
    content: var(--size);
}

#c {
    position: fixed;
    z-index: 4;
    width: 100%;
    bottom: 0px;
    text-align: center;
    color: var(--white);
    font-family: var(--f-code);

    opacity: 0;
}
.demo section,
#c {
    transition: 
        opacity 300ms var(--timing-function),
        filter 300ms var(--timing-function),
        max-height 300ms var(--timing-function),
        padding 300ms var(--timing-function);
}

html {
    outline-color: var(--white);
    transition: 
        transform 600ms var(--timing-function),
        outline-color 300ms var(--timing-function);
    outline: 2px solid var(--white);
}

::selection {
    background-color: #efd5ff;
}

#run {
    position: fixed;
    bottom: 30px;
    z-index: 4;
    left: 50%;
    translate: -50% 0%;
    backdrop-filter: brightness(95%) url(#glass) blur(8px);
    transition: 
        all 300ms var(--timing-function),
        background 0ms;
    border-radius: 0px;
    font-family: var(--f-lxzt);
    cursor: pointer;
}
#run, #run::before, #run::after {
    padding: 8px 24px;
    --bg-transparency: 0;
}
#run::before, #run::after {
    content: '';
    -webkit-mask: paint(smooth-corners);
    mask: paint(smooth-corners);
    --smooth-corners: 5;
    position: fixed;
    height: 100%;
    aspect-ratio: 1;
    top: 0px;
    animation: round 300ms var(--timing-function);
}
#run::before {
    left: -24px;
}
#run::after {
    right: -24px;
}
#run:hover {
    padding: 8px 64px;
    box-shadow: 0px 0px 20px -5px var(--light);
    font-weight: 600;
    letter-spacing: -0.5px;
    border-radius: 20px;
}
#run:hover::before, #run:hover::after, .run::before, .run::after {
    --smooth-corners: 0.6;
    animation: star 300ms var(--timing-function) !important;
}
.run::before, .run::after {
    --smooth-corners: 0.6 !important;
}

#run[data-grab=true] {
    --bg-transparency: 0.75 !important;
    border-radius: 20px;
    outline: 1px solid var(--white);
}
#run[data-grab=true]::before, #run[data-grab=true]::after {
    opacity: 0 !important;
}

@keyframes star {
    0% {
        --smooth-corners: 5;
    }
    8.33% {
        --smooth-corners: 3.9;
    }
    16.66% {
        --smooth-corners: 2.8;
    }
    25% {
        --smooth-corners: 1.7;
    }
    33.33% {
        --smooth-corners: 1.48;
    }
    41.66% {
        --smooth-corners: 1.26;
    }
    50% {
        --smooth-corners: 1.05;
    }
    58.33% {
        --smooth-corners: 0.82;
    }
    66.66% {
        --smooth-corners: 0.776;
    }
    75% {
        --smooth-corners: 0.732;
    }
    83.33% {
        --smooth-corners: 0.688;
    }
    91.66% {
        --smooth-corners: 0.644;
    }
    to {
        --smooth-corners: 0.6;
    }
}
@keyframes round {
    0% {
        --smooth-corners: 0.6;
    }
    8.33% {
        --smooth-corners: 0.644;
    }
    16.66% {
        --smooth-corners: 0.688;
    }
    25% {
        --smooth-corners: 0.732;
    }
    33.33% {
        --smooth-corners: 0.766;
    }
    41.66% {
        --smooth-corners: 0.82;
    }
    50% {
        --smooth-corners: 1.05;
    }
    58.33% {
        --smooth-corners: 1.26;
    }
    66.66% {
        --smooth-corners: 1.48;
    }
    75% {
        --smooth-corners: 1.7;
    }
    83.33% {
        --smooth-corners: 2.8;
    }
    91.66% {
        --smooth-corners: 3.9;
    }
    to {
        --smooth-corners: 5;
    }
}

.run {
    width: 0px !important;
    padding: 8px 0px !important;
    color: transparent;
    animation: run 3s infinite var(--timing-function) 300ms;
    letter-spacing: 1vh;
    cursor: wait !important;
}

@keyframes run {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}
@-webkit-keyframes run {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}

.demo .bin {
    max-height: 100vh;
    overflow: hidden;
}

@media (max-width: 888px) {
    .demo #inp::after,
    .demo #out::after {
        display: none;
    }
}
@media (max-width: 450px) {
    .demo .bin {
        display: none !important;
    }
    .demo #output {
        resize: none !important;
        min-height: unset !important;
        max-height: unset !important;
        height: unset !important;
    }
    .demo .text {
        flex-direction: column !important;
    }
    .demo .text::before {
        content: 'Compress text'
    }
}
@media (max-width: 340px) {
    .demo .text::before {
        display: none;
    }
    #run {
        scale: 0.75;
        margin-bottom: 10px;
    }
}

html[data-pw=false] #run::before, html[data-pw=false] #run::after {
    --bg-transparency: 1 !important;
    opacity: 0;
}
html[data-pw=false] #run {
    border-radius: 22px;
}
